@attribute [RenderModeServer]

<section class="section">
    <h2 class="title">@Localizer["Heading title"]</h2>

    <form class="mb-3">
        <div class="row justify-content-between">
            <div class="col-4 col-lg-3">
                <select class="form-select" @onchange="OnCityChanged">
                    <option value="@string.Empty" selected>@Localizer["All cities"]</option>

                    @foreach (var city in _cities)
                    {
                        <option @key="city" value="@city">@city</option>
                    }
                </select>
            </div>

            <div class="col-6 col-md-5 col-lg-4">
                <div class="input-group">
                    <input type="date" class="form-control" min="@_today" @onchange="OnFromChanged" />
                    <input type="date" class="form-control" min="@_today" @onchange="OnToChanged" />
                </div>
            </div>
        </div>
    </form>

    @if (_totalConcertsCount > 0)
    {
        <table class="table table-hover align-middle">
            <tbody>
                @foreach (var concert in _concerts)
                {
                    <tr @key="concert">
                        <td class="date d-flex flex-column flex-md-row text-center text-md-start">
                            <div class="day">@concert.Day</div>

                            <div class="month-week-and-time ms-md-3">
                                <div>
                                    @concert.Month, <time class="time">@concert.Time</time>
                                </div>

                                <div>@concert.DayOfWeek</div>
                            </div>
                        </td>

                        <td class="text-center text-md-start">
                            <div class="name">@concert.Name</div>
                            <div>@concert.City, @concert.Location</div>
                        </td>

                        <td class="text-center">
                            <div>@Localizer["Tickets left", concert.TicketsLeft]</div>
                            <div>@Localizer["Min price", concert.MinPrice]</div>
                        </td>

                        <td class="text-end">
                            <button class="btn btn-primary" type="button">@Localizer["Tickets"]</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        @if (_displayLoadMoreButton)
        {
            <div class="d-flex justify-content-center">
                <button class="btn btn-primary" @onclick="GetNextPageAsync">@Localizer["Load more"]</button>
            </div>
        }
    }
    else
    {
        if (_filter.IsEmpty())
        {
            <p class="text-center">@Localizer["No concerts"]</p>
        }
        else
        {
            <p class="text-center">@Localizer["No filter result"]</p>

            <div class="d-flex justify-content-center">
                <button class="btn btn-primary" @onclick="OnClearReset">@Localizer["Reset filter"]</button>
            </div>
        }
    }
</section>
